VITE_FIREBASE_API_KEY=Kh2dohwUYoH5p7HrPKTDyv_y8
VITE_FIREBASE_AUTH_DOMAIN=ushuaiamanager.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ushuaiamanager
VITE_FIREBASE_STORAGE_BUCKET=ushuaiamanager.firebasestorage.app
VTML_FIREBASE_MESSAGING_SENDER_ID=577455598570
VITE_FIREBASE_APP_ID=1:577455598570:web:51df47d5bb79df0a58a093